<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <metadata>
    <% if (name) { %><id><%- name %></id><% } %>
    <% if (productName) { %><title><%- productName %></title><% } %>
    <% if (description) { %><summary><%- description %></summary><% } %>
    <% if (productDescription) { %><description><%- productDescription %></description><% } %>
    <% if (version) { %><version><%- version %></version><% } %>
    <% if (copyright) { %><copyright><%- copyright %></copyright><% } %>
    <% if (authors && authors.length) { %><authors><%- authors.join(', ') %></authors><% } %>
    <% if (owners && owners.length) { %><owners><%- owners.join(', ') %></owners><% } %>
    <% if (homepage) { %><projectUrl><%- homepage %></projectUrl><% } %>
    <% if (iconUrl) { %><iconUrl><%- iconUrl %></iconUrl><% } %>
    <% if (licenseUrl) { %><licenseUrl><%- licenseUrl %></licenseUrl><% } %>
    <% if (requireLicenseAcceptance) { %><requireLicenseAcceptance><%- requireLicenseAcceptance %></requireLicenseAcceptance><% } %>
    <% if (tags && tags.length) { %><tags><%- tags.join(' ') %></tags><% } %>
  </metadata>
  <files>
    <file src="locales\**" target="lib\net45\locales" />
    <file src="resources\**" target="lib\net45\resources" />
    <file src="*.bin" target="lib\net45" />
    <file src="*.dll" target="lib\net45" />
    <file src="*.pak" target="lib\net45" />
    <file src="Update.exe" target="lib\net45\squirrel.exe" />
    <file src="icudtl.dat" target="lib\net45\icudtl.dat" />
    <file src="LICENSE" target="lib\net45\LICENSE" />
    <file src="<%- exe %>" target="lib\net45\<%- exe %>" />
  </files>
</package>
